<div>
    <h5>Jūsų užsakymas pradėtas vykdyti</h5>
    <p>
    Per 3 darbo dienas sukonfiguruosime Jūsų užsakytą filtrą. Kai filtras bus paruoštas darbui, Jūs skelbimus gausite į registracijos metu nurodytą el. paštą ({{ic.email}}).       
    </p>
    <p>Esant neiaškumams kontaktai pasiteiravimui: <br/> 
        rašykite info@gecar.lt <br/>
        skambinkite tel.: +370 692 74742. 
   </p>
   <p> Dėkui už užsakymą, geros dienos. </p>
    <div style="padding-top: 50px; float: right;">
        <md-button ng-click="ic.go('/orders')" class="md-raised">mano užsakymai</md-button>
        <md-button ng-click="ic.go('/')" class="md-raised md-primary">supratau</md-button>
    </div>
<div>
