<div>
    <div><b>Gecar</b> stebi europos automobilių rinką ir suteikia galimybę Jums pirmiems sužinoti apie Jus dominančius automobilius. Sutaupykite laiką kurį praleidžiate tikrindami automobilių skelbimų portalus.</div>
    <div class="title">Pirkėjams</div>
    <ul>
        <li> + Gauk naujausią informaciją apie skelbimą.</li>
        <li> + Taupykite laiką, nes nereikės tikrinti skelbimų portalų.</li>
        <li> + Automobiliai filtruojami pagal nustatytą filtrą.</li>
        <li> + Informaciją apie skelbimus gausite į el.paštą.</li>
    </ul>
    <div class="title">Pardavėjams</div>                
    <ul>
        <li> + Filtrų nustatymas pagal kainą leis Jums gauti geriausius skelbimus.</li>
        <li> + Pirmas sužinosite apie naują skelbimą.</li>
        <li> + Sutaupysite laiko, nes nereikės tikrinti skelbimų portalų.</li>
        <li> + Informaciją apie skelbimus gausite į el.paštą.</li>
    </ul>    
    <div class="title">Apie puslapius</div>                
    <ul>
        <li> + Skelbimų portalai iš visos europos.</li>
        <li> + Galimybė užsakyti dominantį puslapį.</li>
        <li> + Naują puslapį įdiegsime per 3 darbo dienas.</li>
    </ul>
</div>
